body {
    background-color: #4E86E1;
    margin: 0;
    padding: 0;
}

.LoginPage {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.papel {
    display: flex;
    width: 110%;
    margin: 0;
    margin-left: -35px;
    margin-top: -33px;
    padding: 0;
    height: 164px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.adesivo {
    display: flex;
    width: 100%;
    height: 150px;
    margin-top: -90px;
}

.blocoText {
    margin-top: 80px;
    font-family: 'Exo 2', sans-serif;
    font-size: 35px;
    font-weight: bold;

}

.notaText {
    font-family: 'Dynalight', cursive;
    font-size: 50px;
    margin: 0;
    color: #fff;
    font-weight: bold;

}

.flower {
    margin-top: 80px;
    width: 80px;
    height: 80px;
}

.textGoogle {
    font-family: 'Exo 2', sans-serif;
    margin-top: 120px;
    font-size: 15px;
    font-weight: bold;

}

.googleBtn {
    cursor: pointer;
    background-color: #4E86E1;
    border: none;

}

.imgGoogle {
    width: 50px;
    height: 50px;
    margin-top: 20px;

}

@media (max-width: 600px) {
    .papel {
        display: block;
    }

    .adesivo {
        display: block;
    }

    .paper {
        display: none;
    }

    .adesivo1 {
        display: none;
    }
}

@media (min-width: 601px) {
    .LoginPage {
        display: flex;
        flex-direction: row;
    }

    .textoLogin {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -30px;

    }

    .imagensLogin {
        display: flex;
        flex-direction: row;
    }

    .papel {
        display: none;
    }

    .adesivo {
        display: none;

    }

    .paper {
        display: flex;
        margin: 0;
        margin-top: -35px;
        margin-left: -35px;
        width: 279px;
        height: 120%;
        flex-shrink: 0;
    }

    .adesivo1 {
        display: flex;
        margin-left: -80px;
        width: 160px;
        margin-top: 40px;
        height: 100%;
    }
    .blocoText {
        font-size: 40px;
    
    }
    
    .notaText {
        font-size: 60px;
       
    
    }
    
    .flower {
        margin-top: 80px;
        width: 80px;
        height: 80px;
    }
    
    .textGoogle {
        font-size:20px;
        margin-left:-45px ;
        
    
    }
    
    .googleBtn {
        cursor: pointer;
        background-color: #4E86E1;
        border: none;
    
    }
    
    .imgGoogle {
        width: 50px;
        height: 50px;
        
    
    }
}